allegro
raquette-baballe
score.txt
CMakeFiles

log.txt
backup_log.txt


*gch
*.out
output
res
test.cpp
tmp.cpp
build/
build

.vscode
.cache


CMakeCache.txt
cmake_install.cmake
raquette-baballe.exe


